# **Fungsi**

In [9]:
# Deklarasi Fungsi
def cetak(x):
  print(x)


# Memanggil Fungsi
cetak("wokee")

wokee

In [10]:
# Deklarasi Fungsi dengan pengembalian
def tambah(a, b):
  return a + b;

# Memanggil Fungsi
print(tambah(2, 3))

5

In [11]:
def nama_fungsi(arg1, arg2, ...):
  # isi fungsi

def fungsi_dengan_pengembalian(arg1, arg2, ...):
  # isi fungsi
  return 'sesuatu'

SyntaxError: invalid syntax (3492601559.py, line 1)

# **Method**

In [ ]:
class NamaClass:
  def nama_method(arg1, arg2, ...):
    # isi method

In [ ]:
# Deklarasi Object (Class)
class Kucing(object):
  def meong(self):
    print("meeooong")

# Memanggil method
cat = Kucing()
cat.meong()

# **Lambda Expression**

In [ ]:
# Lambda expression
tambah = lambda a, b: (a + b)
print(tambah(2, 3))

# **Object Oriented Programming**

## **Encapsulation**

In [ ]:
nama = "cemong"
usia = 1
warna = "putih coklat muda"
jenis = "anggora"

def meongg():
  print("meeeoonnggg... ")

def info_kucing(nama, usia, warna, jenis):
  print(f"nama: {nama}, usia: {usia}, warna: {warna}, jenis: {jenis}")

info_kucing(nama, usia, warna, jenis)


class Kucing:
  def __init__(self, nama, usia, warna, jenis):
    self.nama = nama
    self.usia = usia
    self.warna = warna
    self.jenis = jenis

  def myfunc(self):
    print("Hello my name is " + self.nama)
  
  def meong(self):
    print("meeeoonnggg... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, warna: {self.warna}, jenis: {self.jenis}")


kucing1 = Kucing("cemong", 1, "putih coklat muda", "anggora")

kucing1.info()

## **Inheritence**

In [ ]:
class Binatang(object):
  def __init__(self, nama, usia, jenis, mamalia):
    self.nama = nama
    self.usia = usia
    self.jenis = jenis
    self.mamalia = mamalia

  def tidur(self, durasi):
    for x in range(durasi):
      print("ddrrr... ddrrr... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, jenis: {self.jenis}, mamalia: {self.mamalia}")


animal1 = Binatang("cemong", 1, "omnivora", True)

animal1.info()

class Kucing(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, jenis_kucing):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.jenis_kucing = jenis_kucing
  
  def meong(self):
    print("meeeonnggg")

  def info_kucing(self):
    print(f"warna: {self.warna}, jenis kucing: {self.jenis_kucing}")

cat1 = Kucing("cemong", 1, "omnivora", True, "putih coklat muda", "anggora")

cat1.info()
cat1.info_kucing()

## **Abstraction**

In [ ]:
from abc import abstractmethod, ABC

In [ ]:
class Absclass(ABC):
    def print(self,x):
        print("Passed value: ", x)
    
    @abstractmethod
    def task(self):
        pass

        
class test_class(Absclass):
    def task(self):
        print("We are inside test_class task")
        
        
class example_class(Absclass):
    def task(self):
        print("We are inside example_class task")


#object of test_class created
test_obj = test_class()
test_obj.task()
test_obj.print(100)


#object of example_class created
example_obj = example_class()
example_obj.task()
example_obj.print(200)
 
print("test_obj is instance of Absclass? ", isinstance(test_obj, Absclass))
print("example_obj is instance of Absclass? ", isinstance(example_obj, Absclass))

## **Polymorphism**

In [ ]:
class Ikan(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, jenis_air, jenis_ikan):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.jenis_air = jenis_air
    self.jenis_ikan = jenis_ikan
  
  def berenang(self, durasi):
    print("wushh... wush... ")

  def info_ikan(self):
    print(f"warna: {self.warna}, jenis ikan: {self.jenis_ikan}, jenis air: {self.jenis_air}")

fish1 = Ikan("Jago", 2, "omnivora", False, "Merah Putih", "Tawar", "Cupang")

fish1.info()
fish1.info_ikan()
fish1.tidur(5)

## **Activity OOP**

Buatlah 3 OOP beserta turunannya dari objek sekitar, buat ulang seperti yang diatas (encapsulation, abstaction, inheritance, polymorphism)

# **Time Complexity**
## Activity 

Hitung time complexity dengan bigO Notation pada algoritma berikut:

* Tidak perlu di run

In [12]:
# 1

arr = [1, 2, 3, 4, 5]

print(arr[0])
print(arr[1])

1
2

In [13]:
# 2

print(arr[2])
for number in arr:
  print(number)
print(arr[1])
print(arr[2])

3
1
2
3
4
5
2
3

In [14]:
# 3

arr2 = [6, 7, 8, 9, 10]

for number in arr:
  print(number)
for number in arr2:
  print(number)
print(arr2[4])

1
2
3
4
5
6
7
8
9
10
10

In [15]:
# 4

print(arr2[1])
for number in arr:
  print(number)
for number in arr:
  print(number)

7
1
2
3
4
5
1
2
3
4
5

In [16]:
# 5

for number in arr:
  for number2 in arr2:
    print(number+number2)
print(arr[1]+arr2[1])
print(arr2[2])

7
8
9
10
11
8
9
10
11
12
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
9
8

In [17]:
# 6 

for number in arr:
  for number2 in arr:
    print(number+number2)
print(arr)

2
3
4
5
6
3
4
5
6
7
4
5
6
7
8
5
6
7
8
9
6
7
8
9
10
[1, 2, 3, 4, 5]

In [18]:
# 7 

for number in arr:
  for number2 in arr2:
    for number3 in arr:
      print(number+number2+number3)
print(arr[1])
print(arr2[2])
print(arr2[3])

8
9
10
11
12
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
15
16
17
18
19
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
15
16
17
18
19
16
17
18
19
20
2
8
9

In [ ]:
# 8

for number in arr:
  print(number)
print(arr2)
for number in arr:
  for number2 in arr2:
    print(number+number2)
print(arr)

In [29]:
# 9 
# algoritma bubble sort

n = len(arr)

for i in range(n-1):

    for j in range(0, n-i-1):

        if arr[j] > arr[j+1]:
            arr[j], arr[j+1] = arr[j + 1], arr[j]

print(arr)

[1, 2, 3, 4, 5]

In [38]:
l = [114, 110, 77, 112, 65, 80, 80, 90, 113, 109, 110, 86, 108, 85, 87, 65,90, 95, 109]
x = 109 # elemen yang dicari
idx = -1 # posisi elemen yang dicari

for i in range(len(l)):
  if l[i] == x:
    idx = i
    break

if idx == -1:
  print('Nilai ',x,'tidak ditemukan')
else:
  print('Nilai',x,'ditemukan pada indeks',idx)

Nilai 109 ditemukan pada indeks 9

In [ ]:
# 11

# algoritma binary search