<a href="https://colab.research.google.com/github/dimmdimas/Orbit-AI-Gen-Y/blob/main/Latihan_2_Orbit_Gen_Y.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nomor 1
Variabel
---

Tempat untuk menyimpan data dengan tipe tertentu

Nomor 2
Tipe Data
---

    1.  String  = 'abcdefghi'
    2.  Integer = 1234567890
    3.  Float   = 3.5 , 8.4
    4.  Boolean = False, True

In [1]:
nama = 'Muhammad Dimas Renaldi' #String
umur = 18   #Integer
berat_badan = 48.50 # Float
status_pernikahan = False   #Boolean

print("Nama                : ", nama)
print("Umur                : ", umur, "Tahun")
print("Berat Badan         : ", berat_badan)
print("Status Pernikahan   : ", status_pernikahan)

Nama                :  Muhammad Dimas Renaldi
Umur                :  18 Tahun
Berat Badan         :  48.5
Status Pernikahan   :  False

Nomor 3
Tipe data turunan
---

    1.  Array 
    2.  List 
    3.  Tupple      = isi nya tidak bisa diubah
    4.  Dictionary
    5.  Set
    6.  File

In [12]:
import array as arr

print(' ')
print('=========== Array ===========')
print(' ')

apapun_array = arr.array("I", [1,4,8,12,16])
print (apapun_array)

bilangan_kelipatan_tiga = arr.array('I', [1,3,21,9])
print(bilangan_kelipatan_tiga)

print(' ')
print('=========== List ===========')
print(' ')

apapun_list = ["satu", 2, 3, 4.5, True]
print (apapun_list)

rint(' ')
print('=========== List ===========')
print(' ')

=========== Array ===========

array('I', [1, 4, 8, 12, 16])
array('I', [1, 3, 21, 9])

=========== List ===========

['satu', 2, 3, 4.5, True]