<a href="https://colab.research.google.com/github/dimmdimas/Orbit-AI-Gen-Y/blob/main/Latihan_1_Orbit_Gen_Y.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nomor 1
------------------

`print()` digunakan untuk mencetak text / angka / variabel

In [ ]:
print ('Hello World')

Hello World

Nomor 2
------------------------------

`print()` merupakan fungsi untuk mencetak text / angka / variabel

In [ ]:
print ('Halo Dunia')
print ('Riset Bahasa Python')

Halo Dunia
Riset Bahasa Python

Nomor 3
------------------------------------------------

Metode langsung = memasukan operasi matematika didalam fungsi `print()`

Metode Varibel = membuat variabel dengan nama `hasil` lalu memasukan operaasi matematika. kemudian variabel tinggal dipanggil menggunakan fungsi `print()`

In [ ]:
nomor1 = 20
nomor2 = 10

hasil = nomor1 - nomor2

print('Metode langsung = ',nomor1 - nomor2)
print('Metode Variabel = ', hasil)

Metode langsung =  10
Metode Variabel =  10

Nomor 4 
--

list merupakan kumpulan data yang terurut dan memiliki index `[0]`, sedangkan set adalah penyimpanan data yang tidak terurut dan tidak memiliki index didalamnya.

In [ ]:
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda', 'Cuci']

print(contoh_list)

print(' ')
print('=============================================')
print('')

contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cuci'}

print(contoh_set)

print(' ')
print('=============================================')
print('')

contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cuci'})

print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cuci']

=============================================

{'Dewi', 'Cuci', 'Budi', 'Cici', 'Linda'}

=============================================

{'Dewi', 'Cuci', 'Budi', 'Cici', 'Linda'}

Nomor 5
----

**Dictionaries**
digunakan untuk menyimpan `nilai data` dalam pasangan `kunci`. kita tinggal memanggil nama kunci dengan simbol `[key]` maka akan tampil nilai dari data tersebut.

In [ ]:
person = {'nama' : 'Jumadi', 'pekerjaan' : 'Programmer'}
print (person['nama'])
print (person['pekerjaan'])

Jumadi
Programmer

Nomor 6 
--

kita bisa mengambil data salah satu list dengan menyebutkan index nya dengan cara menambah kan simbol `[]` dan memasukan index keberapa yang ingin diambil `contoh_list[0]`.
 

kita juga bisa merubah data dari data list dengan menyebutkan index keberapa yang akan dipindah. `contoh_list[3] = 'empat'`

In [2]:
contoh_list = [1, 'dua', 3, 4.0, 5]

print (contoh_list[0])
print (contoh_list[3])

contoh_list[3] = 'empat'

print (contoh_list[3])

1
4.0
empat