<a href="https://colab.research.google.com/github/dimmdimas/Orbit-AI-Gen-Y/blob/main/Latihan_2_Orbit_Gen_Y.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nomor 1
Variabel
---

Tempat untuk menyimpan data dengan tipe tertentu

Nomor 2
Tipe Data
---

    1.  String  = 'abcdefghi'
    2.  Integer = 1234567890
    3.  Float   = 3.5 , 8.4
    4.  Boolean = False, True

In [1]:
nama = 'Muhammad Dimas Renaldi' #String
umur = 18   #Integer
berat_badan = 48.50 # Float
status_pernikahan = False   #Boolean

print("Nama                : ", nama)
print("Umur                : ", umur, "Tahun")
print("Berat Badan         : ", berat_badan)
print("Status Pernikahan   : ", status_pernikahan)

Nama                :  Muhammad Dimas Renaldi
Umur                :  18 Tahun
Berat Badan         :  48.5
Status Pernikahan   :  False

Nomor 3
Tipe data turunan
---

    1.  Array 
    2.  List        = Value / nilai dalam list boleh memiliki tipe data yang berbeda
    3.  Tupple      = isi nya tidak bisa diubah
    4.  Dictionary  = Tipe data yang memiliki key dan value
    5.  Set         = Tipe data yang tidak ada data duplikat di dalamnya dan sudah terurut
    6.  File

In [21]:
import array as arr

print(' ')
print('=========== Array ===========')
print(' ')

apapun_array = arr.array("I", [1,4,8,12,16])
print (apapun_array)

bilangan_kelipatan_tiga = arr.array('I', [1,3,21,9])
print(bilangan_kelipatan_tiga)

print(' ')
print('=========== List ===========')
print(' ')

apapun_list = ["satu", 2, 3, 4.5, True]
print (apapun_list)

print(' ')
print('=========== Tupple ===========')
print(' ')

#apapun_tupple = (1,2,3,4,5)
apapun_tupple = [1,2,3,4,5]
#apapun_tupple[0] = -100          ===  tidak bisa diubah nilai nya ===
print(apapun_tupple)

print(' ')
print('=========== Dictionary ===========')
print(' ')

mahasiswa = {
    'nama': "Muhammad Dimas Renaldi",
    'umur': 18,
    'berat_badan': 48.8,
    'status_pernikahan': False
}

print(mahasiswa['nama'])
print(mahasiswa['umur'])
print(mahasiswa['berat_badan'])
print(mahasiswa['status_pernikahan'])

print(' ')
print('=========== Set ===========')
print(' ')

nama = "Dimas"
nama = set(nama)
set([2,4,24,4,5,56,6,0])

=========== Array ===========

array('I', [1, 4, 8, 12, 16])
array('I', [1, 3, 21, 9])

=========== List ===========

['satu', 2, 3, 4.5, True]

=========== Tupple ===========

[1, 2, 3, 4, 5]

=========== Dictionary ===========

Muhammad Dimas Renaldi
18
48.8
False

=========== Set ===========

{0, 2, 4, 5, 6, 24, 56}

mengakses array dan list
----

In [26]:
angka_genap = [2,4,6,8,10, "Dua Puluh"]

print(angka_genap[5])
print(angka_genap[3])
print(angka_genap[0])

Dua Puluh
8
2

Nomor 4
Operator
---

    1.  Operator Aritmatika
    2.  Operator Perbandingan
    3.  Operator Logika

In [27]:
x = 10
y = 5

hasil_penjumlahan       = x + y
hasil_pengurangan       = x - y
hasil_perkalian         = x * y
hasil_pembagian         = x / y
hasil_modulus           = x % y
hasil_floor_division    = x // y
hasil_x_pangkat_y       = x ** y

print(hasil_penjumlahan)
print(hasil_pengurangan)
print(hasil_perkalian)
print(hasil_pembagian)
print(hasil_modulus)
print(hasil_floor_division)
print(hasil_x_pangkat_y)

15
5
50
2.0
0
2
100000

Nomor 5
Percabangan
---

    1. if   = jika
    2. elif = jika lainnya
    3. else = lainnya

    if..else
    if..elif..else

In [30]:
nilai = 80

print('niali = ',nilai)

print(' ')
print('== if..else === ')
print(' ')


if nilai > 75:
    print("Anda Hebat")
else:
    print("Silakan Mengulang")

print(' ')
print('== if..elif..else === ')
print(' ')

if nilai>= 90:
    print('Nilai = A')
elif nilai >= 80:
    print('Nilai B')
elif nilai >= 70:
    print('Nilai C')
else:
    print('Nilai D, Silakan mengulang')

niali =  80

== if..else ===

Anda Hebat

== if..elif..else ===

Nilai B