<a href="https://colab.research.google.com/github/dimmdimas/Orbit-AI-Gen-Y/blob/main/Latihan_2_Orbit_Gen_Y.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aturan Penulisan Statement Pada *Basic Python***
1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma
2. Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line).
3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash (\).
4. Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda "".
5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menampilkan sintaks error.
6. Sebagai penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris.
7. Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).
8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.

Aturan ke-1
----
Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma

In [1]:
print ('Hello')
print ("Dunia")

Hello
Dunia

Aturan ke-2
----
Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line).

In [2]:
print ('Luas = panjang * lebar')

Luas = panjang * lebar

Aturan ke-3
----
Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash ( \ )

In [5]:
print ('Volume = panjang * lebar *\
    tinggi')

Volume = panjang * lebar *    tinggi

Aturan ke-4
----
Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda ""

In [12]:
nama_hari = ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum`at', 'Sabtu', 'Minggu']

print (nama_hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum`at', 'Sabtu', 'Minggu']

Aturan ke-5
----
Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error

In [15]:
usia = 5

if usia >= 18:
    print('usia memenuhi syarat')
    print('Dapat mengambil KTP')
else:
    print('Belum cukup umur')
    print('tunggu ', 18 - usia, ' tahun lagi')

Belum cukup umur
tunggu  13  tahun lagi

Aturan ke-6
----
Sebaga penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris.

In [16]:
namaDepan = 'Dimas'
namaBelakang = "Renaldi"
alinea = """"Berikut ini adalah alinea 
yang terdiri dari beberapa baris"""

print (namaDepan)
print (namaBelakang)
print (alinea)

Dimas
Renaldi
"Berikut ini adalah alinea
yang terdiri dari beberapa baris

Aturan ke-7
----
Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).

In [17]:
luas1 = 15 * 3

print (luas1)

luas2 = 15 * 5
#Print (luas2)
#PRINT (luas2)
print (luas2)

45
75

Aturan ke-8
----
Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.

In [18]:
#panjang * lebar
panjang = 15
lebar = 3
luas = panjang * lebar

print (luas)

45

Nilai Prioritas Operator dalam Python – Part1
---

In [19]:
total_harga     = 150000
potongan_harga  = 0.3
pajak           = 0.1

harga_bayar     = (1 - potongan_harga) * total_harga

harga_bayar += harga_bayar * pajak

print ('Harga bayar = ', harga_bayar)

Harga bayar =  115500.0

In [21]:
sepatu = {
    'nama'      : 'Sepatu Niko',
    'harga'     : 150000,
    'diskon'    : 30000
}

baju = {
    'nama'      : 'Baju Uniqlo',
    'harga'     : 80000,
    'diskon'    : 8000
}

celana = {
    'nama'      : 'Celana Lepis',
    'harga'     : 200000,
    'diskon'    : 60000
}

harga_sepatu    = sepatu['harga'] - sepatu['diskon']
harga_baju      = baju['harga'] - baju['diskon']
harga_celana    = celana['harga'] - celana['diskon']

total           = (harga_sepatu + harga_baju + harga_celana) * 1.1
print (total)

365200.00000000006

In [24]:
tagihan_ke = 'Mr.Yoyo'

warehousing = {
    'harga_harian'  : 1000000,
    'total_hari'    : 15
}

cleansing = {
    'harga_harian'  : 1500000,
    'total_hari'    : 10
}

integration = {
    'harga_harian'  : 2000000,
    'total_hari'    : 15
}

transform = {
    'harga_harian'  : 2500000,
    'total_hari'    : 10
}

sub_warehousing = warehousing['harga_harian'] * warehousing['total_hari']
sub_cleansing   = cleansing['harga_harian'] * cleansing['total_hari']
sub_integration = integration['harga_harian'] * integration['total_hari']

total = sub_cleansing + sub_integration + sub_warehousing

print ("Tagihan Kepada")
print (tagihan_ke)
print ('Selamat pagi ', tagihan_ke, ', anda harus membayar tagihan sebesar : ', total)

Tagihan Kepada
Mr.Yoyo
Selamat pagi  Mr.Yoyo , anda harus membayar tagihan sebesar :  60000000

Python while loops – Part1
--

In [25]:
tagihan = [50000, 75000, 125000, 300000, 200000]

#tanpa while 

total = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print (total)

#while 

i = 0
jumlah_tagihan = len(tagihan)
total = 0

while i < jumlah_tagihan:
    total += tagihan[i]
    i += 1

print(total)

750000
750000

Python while loops – Part2
--

In [28]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total = 0

while i < jumlah_tagihan:
    if tagihan[i] <-1:
        print('Terdapat nilai minus dalam tagihan')
        break
    total += tagihan[i]
    i += 1

print(total)

Terdapat nilai minus dalam tagihan
125000

Python while loops – Part3
---

In [30]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total = 0

while i < jumlah_tagihan:
    if tagihan[i] < 0:
        i += 1
    total += tagihan[i]
    i += 1

print(total)

750000

Python for loops – Part1
-----

In [31]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

total_tagihan = 0 

for tagihan in list_tagihan:
    if tagihan < 0:
        print('terdapat anka minus dalam tagihan')
        break
    total_tagihan += tagihan

print(total_tagihan)

terdapat anka minus dalam tagihan
125000

Ekspedisi Pamanku
---

In [32]:
uang            = 1500000
jumlah_hari     = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9151]

kendaraan_genap     = 0
kendaraan_ganjil    = 1

for plat_nomor in list_plat_nomor:
    if plat_nomor % 2 == 0:
        kendaraan_genap += 1
    else:
        kendaraan_ganjil += 1

i = 1
total_pengeluaran = 0

while i <= jumlah_hari:
    if i % 2 == 0:
        total_pengeluaran += (kendaraan_genap * uang)
    else:
        total_pengeluaran += (kendaraan_ganjil * uang)
    i += 1

print (total_pengeluaran)

189000000