<a href="https://colab.research.google.com/github/dimmdimas/Orbit-AI-Gen-Y/blob/main/Latihan_2_Orbit_Gen_Y.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
calon_anggota = [
    {
        'nama'              :   'Entong'
        'total_tabungan'    :   12000
        'usia'              :   16
    },
    {
        'nama'              :   'Eneng'
        'total_tabungan'    :   10000
        'usia'              :   17
    },
    {
        'nama'              :   'Bobby'
        'total_tabungan'    :   9000
        'usia'              :   25
    },
    {
        'nama'              :   'Amir'
        'total_tabungan'    :   15000
        'usia'              :   26
    },
    {
        'nama'              :   'Rendi'
        'total_tabungan'    :   9900
        'usia'              :   23
    }
]

for anggota in calong_anggota:
    if anggota['total_tabungan']